*
{
	padding: 0px;
	margin: 0px;
	font-family: "Inter", sans-serif;
}
:hover 
{
	transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
}
body 
{
	font-family: "Inter", sans-serif;
	background: #F3FFFF;
}
header .container
{
   max-width: 1350px;
}
.content-section .container
{
   max-width: 1350px;
}
header
{
	width: 100%;
	height: auto;
	padding:12px 0;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	position: sticky;
  z-index: 99;
  top: 0;
}
.content-section
{
	width: 100%;
	height: auto;
	padding:10px 0 30px;
	background: #F3FFFF;
	box-shadow: 0 3px 6px rgba(0, 18, 0, 0.4);
	min-height: 90vh;
}
.logo
{
	width:auto;
	float: left;
	height: auto;
	margin: 0 20px 0 0;
}
.navbar-toggler {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
        transition: 0.3s ease-in-out;
        flex-shrink: 0;
      }
      .navbar-toggler:focus {
        box-shadow: none;
      }
      
.menu
{
	width:auto;
	float: left;
}
.menu ul
{
	padding: 0px;
	margin: 0px;
}
.menu ul li 
{
	list-style: none;
	float: left;
	border-bottom: 0px solid #000;
	padding:0px 10px;
	margin: 0 20px 0 0;
}
.menu ul li a 
{
	color:#000 !important;
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
}
.menu ul li a:hover 
{
	color:#2fbed4 !important;
}
.menu ul li a.active
{
	border-bottom: 1px solid #000;
	font-weight: 600;
}
.menu ul li.active a 
{
	font-weight: 500;
}
.header-right
{
	width:auto;
	float: right;
	height: auto;
	display: flex;
}
.hd-left
{
	width:auto;
	float: left;
	height: auto;
}
.hd-left ul 
{
	padding: 0px;
	margin: 10px 0 0 0;
	display: flex;
}
.hd-left ul li 
{
	list-style: none;
	margin: 0 20px 0 0;
}
.hd-left ul li img 
{
	max-width: 24px;
}

.hd-right
{
	width:auto;
	float: right;
	height: auto;
	display: flex;
	position: relative;
}
.profile-dec
{
	width:auto;
	float: left;
	height: auto;
	margin: 0 10px 0 0;
	text-align: right;
}
.profile-dec h5 
{
  font-size: 16px;
  color:#000000;
  font-weight: 500;
  margin: 5px 0 3px ;
}
.profile-dec p 
{
  font-size: 12px;
  color:#000000;
  font-weight: 400;
  margin: 0px 0 0;
}
.profile-photo img
{
  width: 50px;
  height: 50px;
}
.content-section .card
{
  padding: 15px;
  border: none;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 0 25px 0;
}

.infromation-sec
{
	width:auto;
	float: left;
}
.infromation-sec ul
{
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.infromation-sec ul li 
{
	list-style: none;
	float: left;
	padding: 15px 15px;
	background: #F6EAC2;
	width: 48%;
	margin: 0 0 10px 0;
	border-radius: 5px;
}
.infromation-sec ul li:nth-child(2)
{
	background:#C7DBDA ;
}
.infromation-sec ul li:nth-child(3)
{
	background:#F5D2D3 ;
}
.infromation-sec ul li:nth-child(4)
{
	background:#B5EAD6 ;
}
.infromation-sec ul li p 
{
	font-size: 13px;
	color:#000;
	margin: 0 0 5px 0;
}
.infromation-sec ul li h6 
{
	font-size: 16px;
	color:#000;
	margin: 0 0 0px 0;
	font-weight: 600;
}
.inform-icon
{
	width: 100%;
	height: 40px;
}

.date
{
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 0 10px 0;
}
.date input 
{
	width: 100%;
	height: 45px;
	border: 1px solid #D2D0D0;
	padding: 5px 10px;
	font-size: 14px;
	color:#000;
}
.date span.cal-icon 
{
  position: absolute;
  right: 10px;
  top:10px;
}
.appointment-list
{
	width: 100%;
	height: auto;
	margin: 10px 0 0 0;
}
.appointment-list ul 
{
	padding: 0px;
	margin: 0px;
	max-height: 350px;
  	overflow-y: auto;
}
.appointment-list ul li 
{
	list-style: none;
	width: 100%;
	height: auto;
	display: flex;
	margin: 0 0 7px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0;
	justify-content: space-between;
}
.appointment-list ul li:last-child 
{
	border-bottom:0px solid rgba(0, 0, 0, 0.2);
}
.heading
{
	width: 100%;
	height: auto;
	font-size: 16px;
	color:#000;
	font-weight: 500;
	margin: 0px 0 10px;
}
.apoin-photo
{
	width: 45px;
	height: auto;
	float: left;
}
.apoin-photo img 
{
	width: 45px;
	height: auto;
}
.apoin-dec
{
	width:63% ;
	height: auto;
	padding: 0 0 0 8px;
}
.apoin-dec h6
{
  font-size: 14px;
  color:#000000;
  font-weight: 600;
  margin: 0 0 2px 0;
}
.apoin-dec p
{
  font-size: 11px;
  color:#787878;
  font-weight: 400;
  margin: 0 0 1px 0;
}
.apoin-price
{
   width: auto;
   height: auto;
   padding: 0 10px 0 0;
}
.apoin-price span{
  background: #FFB8B1;
  padding: 4px 8px;
  color:#000;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 500 ;
}


.avail
{
	width: 100%;
	height: auto;
	margin: 10px 0 15px 0;
}
.avail ul 
{
	padding: 0px;
	margin: 0px;
	display: flex;
}
.avail ul li 
{
	list-style: none;
	height: auto;
	margin: 0 10px 7px 0;
	font-size: 12px;
	color:#000;
}
.avail ul li span 
{
	width: 8px;
	height: 8px;
	background: #787878;
	border-radius: 50%;
	display: inline-block;
	margin: 0 5px 0 0;
}
.avail ul li:nth-child(2) span 
{
	background:#C7DBDA ;
}
.avail ul li:nth-child(3) span 
{
	background:#F5D2D3 ;
}
.avail ul li:nth-child(4) span 
{
	background:#B5EAD6 ;
} 
.avail ul li:nth-child(5) span 
{
	background:#B5EAD6 ;
} 
.avail-list-full
{
	width: 100%;
	height: auto;
}
.avail-list
{
	width: 100%;
	height: auto;
	margin: 0 0 2px 0;
}
.avail-list h4
{
  font-size: 12px;
  color:#000;
  font-weight: 400;
  margin: 0 0 6px 0;
  position: relative;
}
.avail-list h4 span 
{
	background: #fff;
}
.avail-list h4:after 
{
	content: "";
	position: absolute;
	right: 0;
	top: 8px;
	width: 87%;
	height: 1px;
	background: #ccc;
}

.avail-list ul 
{
	padding: 0px 0 0 30px;
	margin: 0px;
	display: flex;
}
.avail-list ul li 
{
	list-style: none;
	height: auto;
	margin: 0 5px 7px 0;
	font-size: 12px;
	color:#000;
	width: 24%;
	background: #FFCAA5;
	padding: 10px;
}
.avail-list ul li:empty 
{
	visibility: hidden;
} 
.avail-list ul li p
{
  font-size: 10px;
  color:#000;
  font-weight: 400;
  margin: 0 0 7px 0;
}
.avail-list ul li h5
{
  font-size: 10px;
  color:#000;
  font-weight: 600;
  margin: 0 0 4px 0;
}
.avail-list ul li h6
{
  font-size: 10px;
  color:#000;
  font-weight: 400;
  margin: 0 0 0px 0;
}
.availability
{
	background:#787878 !important;
}
.albert
{
	background:#F5D2D3 !important;
}
.robert 
{
	background:#DFCCF1 !important;
}
.jacob
{
	background:#9AB8D4 !important;
} 
.leslie
{
	background:#B5EAD6 !important;
}
.see-more
{
	width:100%;
	height: auto;
	text-align: right;
}
.see-more a
 {
 	color: #000 !important;
 	text-decoration: underline !important;
 	font-weight: 600;
 	font-size: 12px;
 	cursor: pointer;
 }
 .see-more a:hover 
 {
 	color:#9AB8D4 !important;
 }
 .card-heading
 {
 	width:100%;
	height: auto;
	margin: 0 0 7px 0;
	position: relative;
 }
 .card-heading h4 
 {
 	font-size: 15px;
 	font-weight: 600;
 	color:#000000;
 }
  .card-heading h5
 {
 	font-size: 16px;
 	font-weight: 600;
 	color:#000000;
 }
  .card-heading p
 {
 	font-size: 14px;
 	font-weight: 400;
 	color:#787878;
 }
 .card-heading p img 
 {
 	max-width: 90%;
 }
 .card-heading hr 
 {
 	margin: 5px 0 0 0;
 }
 .graph-pic
 {
 	width: 100%;
 	height: auto;
 }
  .graph-pic img 
  {
  	width: 100%;
 	 height: auto;
  }
 
.product-list ul 
{
	padding: 0px;
	margin: 0px;
	max-height: 350px;
  overflow-y: auto;
}
.product-list ul li 
{
	list-style: none;
	width: 100%;
	height: auto;
	margin: 0 0 7px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
}
.pro-left p
{
	font-size: 13px;
 	font-weight:400;
 	color:#000000;
 	margin: 0 0 0 0;
}
.pro-left h5
{
	font-size: 15px;
 	font-weight:600;
 	color:#000000;
 	margin: 0 0 0 0;
}
.pro-right
{
	width: 32px;
	height: auto;
}
.pro-right img 
{
	max-width: 100%;
	height: auto;
}

.customer-satisfaction ul 
{
	padding: 0px;
	margin: 0px;
}
.customer-satisfaction ul li 
{
	list-style: none;
	width: 100%;
	height: auto;
	margin: 0 0 7px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
}
.customer-satisfaction ul li:last-child
{
	border-bottom: 0px solid rgba(0, 0, 0, 0.2);
}
.cus-left
{
	font-size: 12px;
 	font-weight:400;
 	color:#000000;
}
.cus-right
{
	font-size: 13px;
 	font-weight:600;
 	color:#000000;
}
.sel
{
	width: auto;
	height: auto;
	position: absolute;
	right:0px;
	top:-5px;
}
.sel a 
{
	text-decoration: underline !important;
	cursor: pointer ;
}
.sel a:hover 
{
	color: rgb(47, 190, 212) !important;
}
.sel select 
{
	background: none;
	border:none;
	font-size: 12px;
}

footer 
  {
	 width: 100%;
 	 height: auto;
 	 text-align: center;
 	 background: #F3FFFF;
 	 padding: 10px 0 10px 0;
 	 border-top: 1px dotted #ccc;
 	 position: sticky;
   bottom: 0;
  }

 footer p 
 {
 	  font-size: 14px;
		font-weight: 400;
		color:#000000;
		margin: 0;
 }
 footer p a 
 {
 	color:#000;
 }
 footer p a:hover 
 {
 	color:#2fbed4;
 }
 .drop-menu
 {
 	position: absolute;
 	right: 0;
 	top: 15px !important;
 	z-index: 99;
 	width: 150px;
 	box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3);
 	border:3px solid #2fbed4;
 	border-width: 2px 0 4px;
 	background: #fff;
 	padding: 0px;
 }
  .drop-menu ul 
  {
  	padding: 0px;
  	margin:0px;
  }
  .drop-menu ul li 
  {
  	width: 100%;
  	height: auto;
  	list-style: none;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .drop-menu ul li:last-child
  {
  	border-bottom: 0px solid rgba(0, 0, 0, 0.3);
  }
  .drop-menu ul li a 
  {
  	color:#000;
  	padding: 5px 15px;
  	font-size: 14px;
  	text-decoration:none;
  	display: block;
  	background: #fff;
  	font-weight: 500;
  }
  .drop-menu ul li a:hover 
  {
			background: #F6EAC2;
  }
  .drop-menu ul li:hover a 
  {
  		border-left: 3px solid #2fbed4;
  }

	.profile-photo .dropdown-toggle::after {
	  position: absolute ;
	  right: 20px ;
	  z-index: -1 ;
	}
	.breadcrumb
	{
		width: 100%;
		height: auto;
		margin: 0 0 20px 0;
	}
	.breadcrumb ul 
	{
		padding:0px;
		margin: 0px;
		display: flex;
	}
	.breadcrumb ul li 
	{
		list-style: none;
		float: left;
		margin: 0 7px 0 0;
	}


	.branch .apoin-dec
	{
   width: 100%;
	}
	.appointment-list.branch ul li
	{
		padding: 0 0 8px;
	}
	.sel a
	{
		color:#000;
		text-decoration:underline;
		font-size: 14px;
	}
	.sel a:hover 
	{
		color:#2fbed4;
	}
	.progres
	{
		width: 100%;
		height: auto;
	}
 .progres ul
 	{
 		padding: 0px;
 		margin: 0;
 	}
 	.progres ul li 
 	 {
     margin: 0 0 8px 0;
     overflow:hidden;
     width: 100%;
		height: auto;
 	 }
 	.progress-name
 	{
 		width: 35%;
		height: auto;
		text-align: right;
		color:#000;
		font-size: 14px;
		padding: 4px 10px 0 0;
		float: left;
 	}
 	.progress-wd
 	{
 		width: 65%;
		height: auto;
		float: left;
 	}
 	.progr-1 
 	{
 		background: #A3E1DC;
 		width:100%;
 		color:#000;
		font-size: 12px;
		padding: 6px 10px;
		border-radius: 5px;
 	}
 	.progr-2 
 	{
 		background: #97C1A9;
 		width:80%;
 		color:#000;
		font-size: 12px;
		padding: 6px 10px;
		border-radius: 5px;
 	}
 	.progr-3 
 	{
 		background: #FEB7B1;
 		width:60%;
 		color:#000;
		font-size: 12px;
		padding: 6px 10px;
		border-radius: 5px;
 	}
 	.progr-4 
 	{
 		background: #FFDAC0;
 		width:45%;
 		color:#000;
		font-size: 12px;
		padding: 6px 10px;
		border-radius: 5px;
 	}
 	.progr-5 
 	{
 		background: #E3F8C2;
 		width:30%;
 		color:#000;
		font-size: 12px;
		padding: 6px 10px;
		border-radius: 5px;
 	}

 	.stylists
	{
		width: 100%;
		height: auto;
		margin: 11px 0 0;
	}
 .stylists ul
 	{
 		padding: 0px;
 		margin: 0;
 		display: flex;
 	}
 	.stylists ul li 
 	 {
     margin: 0 0 0px 0;
     overflow:hidden;
     width: 20%;
		 height: auto;
		 padding: 0 5px;
		 text-align: center;
 	 }
 	 .sty-pic
 	 {
 	 	width: 75px;
 	 	height: 75px;
 	 	border-radius: 50%;
 	 	overflow: hidden;
 	 	margin: 0px auto 10px;
 	 }
 	 .sty-pic img 
 	 {
 	 	width: 75px;
 	 	height: 75px;
 	 }
 	 .sty-full h5 
 	 {
 	 	  color:#000;
		  font-size: 14px;
		  font-weight: 500;
		  min-height: 36px;
 	 }
 	 .sty-full p
 	 {
 	 	  color:#787878;
		  font-size: 12px;
		  font-weight: 400;
		  margin: 0 0 4px 0;
 	 }
 	 .sty-full h6
 	 {
 	 	  color:#000;
		  font-size: 12px;
		  font-weight: 400;
 	 }
 	  .sty-full h6 span 
 	  {
 	  	color:#2FBED4;
 	  	font-size: 15px;
 	  }
.tbl {
  max-height: 400px;
  overflow-y: auto;
}
.tbl .table thead th {
  background: #C7DBDA;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  border: none;
}
.tbl .table td {
  font-size: 12px;
  color: #000;
  font-weight: 400;
}
.tbl .table td .btn
{
  font-size: 12px;
  color: #000;
  font-weight: 400;
  min-width: 70px;
  border-radius: 30px;
  padding: 5px 10px;
}
.btn-cog {
  background: #6AD49B;
  color: #fff !important;
  font-size: 15px !important;
  padding: 2px 9px !important;
  border-radius: 5px !important;
  min-width: auto !important;
  outline: none;
}
.tbl-pic
{
	width: 70px;
	height: auto;
}
.tbl-pic img 
{
	height: auto;
	max-width: 100%;
}


.cus-rev
	{
		width: 100%;
		height: auto;
		margin: 11px 0 0;
	}
 .cus-rev ul
 	{
 		padding: 0px;
 		margin: 0;
 	}
 	.cus-rev ul li 
 	 {
     margin: 0 0 7px 0;
     overflow:hidden;
     width: 100%;
		 height: auto;
		 display: flex;
 	 }
 	 .rating-pic
 	 {
 	 	width: 60px;
 	 	height: 60px;
 	 	border-radius: 50%;
 	 	overflow: hidden;
 	 }
 	 .rating-pic img 
 	 {
 	 	width: 100%;
 	 	height:100%;
 	 }
 	 .rating-date
 	 {
 	 	width: auto;
 	 }
 	 .rating-date h6
 	 {
     font-size: 14px;
    color: #000000;
 	 }
 	 .rating-name
 	 {
 	 	 width: 64%;
 	 	 height: auto;
 	 	 padding: 0 0 0 10px;
 	 }
 	 .reply
 	 {
 	 	text-align: right;
 	 	margin:15px 0 10px 0;
 	 }
 	 .reply a
 	 {
 	 	 font-size: 13px;
 	 	 color:#fff;
 	 	 border-radius: 5px;
 	 	 background: #1D5C96;
 	 	 padding: 8px 14px;
 	 	 text-decoration: none;
 	 }
 	 .rating-name h5 
 	 {
    font-size: 14px;
	  color: #000000;
	  font-weight: 600;
	  margin: 0 0 2px 0;
 	 }
 	 .rating
 	 {
 	 	color: #2FBED4;
    font-size: 15px;
    width: 100%;
    height: auto;
 	 }
 	 .rating-name p 
 	 {
 	 	font-size: 12px;
	  color: #787878;
	  font-weight: 400;
  	margin: 0 0 1px 0;
 	 }

.product-list.top-seling ul li
{
   justify-content: flex-start;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pro-rev .rating-name {
  width: 60%;
}
.sl-pic
{
	width: 100%;
	height: auto;
	text-align: center;
}
.sl-pic img 
{
	max-width: 100%;
	max-height: 170px;
}
.login-sec
{
	width: 100%;
	height: 100vh;
	display: flex;
}
.login-left
{
	width: 50%;
	height: 100%;
	float: left;
	background: #f3ffff;
	padding: 30px 30px;
}
.login-right
{
	width: 50%;
	height: 100%;
	float: right;
	background: #e3f8fb;
}
.login-right-inner
{
	width: 90%;
	height: auto;
	margin: 30px auto;
}
.login-logo
{
	width: 100%;
	height: auto;
	text-align: center;
}
.login-pic
{
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 0 30px 0;
}
.login-pic img 
{
	max-width: 50%;
}
.login-right
{
	text-align: center;
}
.login-right-dec
{
	width: 100%;
	height: auto;
}
.login-right-dec h4
{
	font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.login-right-dec p
{
	font-size: 14px;
  font-weight: 400;
  color: #787878;
}
.login-right-dec ul 
{
	padding: 0px;
	margin:30px 0px 0;
	display: flex;
	justify-content: center;
}
.login-right-dec ul li 
{
	margin: 0 15px;
	position: relative;
	list-style: none;
	font-size: 17px;
  font-weight: 600;
}
.login-right-dec ul li:before 
{
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: #000;
	right:-20px;
	border-radius: 30px;
	top:8px;
}
.login-right-dec ul li:last-child:before 
{
	display: none;
}
.login-left-form
{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 0 50px 0;
}
.login-left-sel
{
	width: 100px;
	height: auto;
	float:left;
}
.login-left-sel select 
{
	border:none;
	background-color: transparent;
	font-size: 15px;
  font-weight: 500;
  outline: none;
  width: 100%;
}
.login-left-list
{
	width: auto;
	height: auto;
	float:right;
}
.login-left-list ul 
{
	padding: 0px;
	margin:0px 0px 0;
	display: flex;
}
.login-left-list ul li 
{
	margin: 0 15px;
	position: relative;
	list-style: none;
	font-size: 15px;
  font-weight: 500;
}
.login-left-list ul li a 
{
	color:#000;
	text-decoration: none;
}
.login-left-list ul li a:hover 
{
	color:#30bed4;
}
.login-left-form-2
{
	width: 100%;
	max-width: 350px;
	margin: 200px auto 0;
}
.login-left-form-2 h4
{
	font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin: 0 0 20px 0;
}
.lg-input
{
  width: 100%;
  height: auto;
  margin: 0 0 15px 0;
}
.lg-input input 
{
	background: #eeeeee;
	padding: 10px 20px;
	border-radius: 30px;
	border:none;
	outline: none;
	width: 100%;
	color:#000;
	font-size: 15px;
}
.lg-input-sbmt
{
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}
.lg-input-sbmt input 
{
	background: #293890;
	padding: 10px 20px;
	border-radius: 30px;
	border:none;
	outline: none;
	width: 100%;
	color:#fff;
	font-size: 15px;
}
.lg-input-sbmt input:hover 
{
	background: #000;
}
.login-left-form-2 p
{
	font-size: 15px;
  font-weight: 400;
  color: #787878;
  text-align: center;
}
.login-left-form-2 p a 
{
	color:#000;
	font-weight: 700;
	text-decoration: none;
}
.login-left-form-2 p a:hover 
{
	color:#30bed4;
}
.pp-design .modal-body
{
  padding: 30px;

}
.prd-frm
{
	width: 100%;
	height: auto;
	margin: 0 0 20px 0;
	position: relative;
}
.prd-left
{
	width:auto;
	height: auto;
	position: absolute;
	top: -10px;
	left: 8px;
	background: #fff;
	font-size: 12px;
	padding: 0 4px;
}
.prd-right
{
	width: 100%;
	height: auto;
}
.prd-right input 
{
	width: 100%;
	height: auto;
	background: #fff;
	border:1px solid #d9dbe5;
	padding: 12px 14px;
	border-radius: 5px;
	outline: none;
	font-size: 12px;
}
.prd-right textarea
{
	width: 100%;
	height: 100px;
	background: #fff;
	border:1px solid #d9dbe5;
	padding: 12px 14px;
	border-radius: 5px;
	outline: none;
	font-size: 12px;
}
.prd-btn
{
	width: 100%;
	height:auto;
	margin:5px 0 0 0;
}
.prd-btn input 
{
	background: #3444df;
	padding: 11px 20px;
	border-radius: 7px;
	border:none;
	outline: none;
	width: 100%;
	color:#fff;
	font-size: 15px;
	font-weight: 600;
}
.prd-btn input:hover 
{
	background: #000;
}
.pp-design h4
{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin: 26px 0 10px 0;
}
.pp-design .btn-close
{
	position: absolute;
	right: 10px;
	top:10px;
	z-index: 99;
}
.profile-top
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.profile-top-left
{
  width: 70%;
	height: auto;
	float: left;
}

.ptl-left
{
	width: 107px;
	height: auto;
	float: left;
}
.ptl-left img 
{
	width: 100%;
	height: auto;
}
.ptl-right
{
	width: auto;
	height: auto;
	float: left;
	padding:21px 0 0 20px;
}
.ptl-right h5 
{
	font-size: 16px;
	color:#000;
	font-weight:600;
}
.ptl-right ul 
{
	padding: 0px;
	margin: 0px;
}
.ptl-right ul li 
{
	list-style: none;
	float: left;
	width: auto;
	height: auto;
	font-size: 12px;
	color:#000;
	margin: 0 10px 0 0;
}
.profile-top-right
{
  width: 30%;
	height: auto;
	float: left;
	padding: 10px 0 0 0;
}
.lne-dec
{
	width: 100%;
	height: auto;
	color:#000;
	font-size: 12px;
}
.lne-dec span 
{
	float: right;
}
.lne
{
	width: 100%;
	height: 3px;
	background: #6AD49B;
	border-radius: 3px;
	margin: 10px 0 0 0;
}
.profile-tab
{
	width:100%;
	height: auto;
	margin: 20px 0 0 0;
}

 .profile-tab .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #fff #fff #fff;
}
.profile-tab .nav-tabs .nav-link
{
  border: 2px solid #fff;
  color: #787878;
  font-weight: 600;
  font-size: 16px;
}
.profile-tab .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}
 .profile-tab .nav-tabs .nav-link.active {
  border-color: #fff #fff #2FBED4;
  color:#2FBED4;
}
.info-full
{
	width: 100%;
	height: auto;
	display: flex;
	margin: 0 0 10px 0;
}
.info-left
{
	width: 20%;
	height: auto;
	color: #787878;
	font-size: 16px;
	font-weight: 500;
}
.info-right
{
	width:auto;
	height: auto;
	color: #000;
	font-size: 16px;
	font-weight: 500;
}
.crd-btn
{
	position: absolute;
	right: 20px;
	top: 20px;
	width: auto;
	height: auto;
}
.crd-btn a 
{
	background: #2FBED4;
	color:#fff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 13px;
}
.crd-btn a:hover 
{
	background: #1D5C96;
}
.tab-content .card-heading h4
{
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: 600;
}
.faqs .accordion-item
{
  border: 0px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.faqs .accordion-item h2 .accordion-button
{
	font-size: 16px;
	font-weight: 500;
}
.faqs .accordion-item h2 .accordion-button:focus
{
	box-shadow: none;
}
.support-field,.sf-field,.sf-sbmt-field
{
	width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}
.sf-field input 
{
	width: 100%;
	height: 50px;
	border:1px solid rgba(0, 0, 0, 0.5);
	border-width: 0 0 1px 0;
	padding: 10px 15px;
	font-size: 14px;
	color:#000;
	outline: none;
}
.sf-field textarea
{
	width: 100%;
	height: 100px;
	border:1px solid rgba(0, 0, 0, 0.5);
	border-width: 0 0 1px 0;
	padding: 10px 15px;
	font-size: 14px;
	color:#000;
	outline: none;
}

.sf-sbmt-field input 
{
	background: #2FBED4;
	color:#fff;
	text-decoration: none;
	padding: 8px 25px;
	border-radius: 5px;
	font-size: 13px;
	border:1px solid #2FBED4;
}
.sf-sbmt-field input:hover 
{
	background: #1D5C96;
}
.faqs
{
	width: 100%;
	height: auto;
	min-height: 300px;
}
.support-text
{
	width: 100%;
	height: auto;
	margin: 23px 0 0 0;
}
.support-text h5 
{
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 0 0;
	color:#000;
}
.support-text p
{
	font-size:15px;
	font-weight: 400;
	margin: 0 0 0 0;
	color:#787878;
}
.support-text p a
{
	color:#787878;
	text-decoration: none;
}
.support-text p a:hover 
{
	color:#2FBED4;
}
.faqs .accordion-body
{
	font-size:15px;
	font-weight: 400;
	margin: 0 0 0 0;
	color:#787878;
}
.bh-1-left
{
	width: 50%;
	height: auto;
	float: left;
}
.bh-pic
{
	width: 100%;
	height: auto;
}
.bh-pic img 
{
	max-width: 100%;
}
.bh-1-right
{
	width: 50%;
	height: auto;
	float: left;
	padding: 20px 0 0 0;
	text-align: right;
}
.bh-1-right img 
{
	max-width: 100%;
	text-align: right;
	float: right;
}
.bh-1 .card
{
	flex-direction: inherit;
	min-height: 200px;
}
.bh-1-left h3
{
  font-size: 20px;
  font-weight:600;
  margin: 0 0 3px 0;
}
.bh-1-left p
{
  font-size: 16px;
  font-weight:400;
  margin: 0 0 20px 0;
  color:#787878;
}
.bh-1-right a 
{
	background: #2FBED4;
  color: #fff;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 13px;
}
.bh-1-right a.bt-2
{
	background: #1D5C96;
}
.bh-1-right a:hover 
{
	background: #000;
}


.bokng-hst h4 
{
	color:#000;
	font-size: 16px;
	font-weight: 500;
}
.bokng-hst p
{
	color:#787878;
	font-size: 14px;
	font-weight:400;
	margin: 0 0 5px 0;
}
.bokng-hst-list
{
	width: 100%;
	height: auto;
}
.bk-list
{
	width: 32%;
	height: auto;
	min-height: 66px;
	border:1px dotted #ccc;
	float: left;
	border-radius: 5px;
	margin: 0 5px 0 0;
	padding:10px 7px;
}
.bk-list h5 
{
	color:#000;
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 3px 0;
}
.bokng-hst .bk-list p
{
	color:#787878;
	font-size: 12px;
	font-weight:400;
	margin: 0;
}
.st-1
{
	position: absolute;
	right:10px;
	top:20px;
	background: #B5EAD6;
	padding: 5px 10px;
	color:#000;
	font-size: 12px;
	border-radius: 30px;
}
.pf-pic
{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 0 15px 0;
}
.pf-pic img 
{
	width: 100%;
	height: 100%;
}
.chk-box
{
	width: 100%;
	height: auto;
	margin: 20px 0 30px;
	position: relative;
}
.booking-tab .nav-tabs .nav-link
{
  color:#000;
}
.customer-details
{
	flex-direction: inherit;
}
.cus-det-dec
{
	width: 89%;
	height: auto;
	position: relative;
	padding: 0 0 0 30px;
}
.cus-det-dec h5 
{
	font-size:15px;
	color:#000;
	margin: 0 0 5px 0;
	font-weight: 400;
}
.cus-det-dec h4 
{
	font-size:16px;
	color:#000;
	margin: 0 0 9px 0;
	font-weight: 600;
}
.cus-det-dec p
{
	font-size:14px;
	color:#787878;
	margin: 0 0 0px 0;
	font-weight: 400;
}
.enter-pin
{
	width: 100%;
	height: auto;
}
.enter-pin span 
{
	font-size:16px;
	color:#000;
	font-weight: 600;
	margin: 0 10px 0 0;
}
.enter-pin input 
{
	width: 180px;
	height: 40px;
	border:1px dotted #787878;
	padding: 5px 10px;
	border-radius: 10px;
	outline: none;
}
.strt-btn
{
	width: auto;
	position: absolute;
	right: 0;
	top:20px;
	height: auto;
}
.strt-btn a 
{
	background: #2FBED4;
  color: #fff;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 13px;
}

.strt-btn a:hover 
{
	background: #000;
}






 @media screen and (max-width: 991px) {
    .navbar-collapse.collapse:not(.show) {
      display: block;
    }
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      background: #ccc;
      width: 215px;
      height: 100%;
      z-index: 9999;
      padding: 25px;
      transform: translateX(-215px);
      transition: 0.5s ease-in-out;
      display: block;
    }
    .navbar-collapse.show {
      transform: translateX(0px);
    }
    .nav-overlay {
      position: absolute;
      background: #0000007d;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 2;
      transform: translateX(-100vw);
      transition: 0.5s ease-in-out;
      display: block;
    }
    .nav-overlay.active {
      transform: translateX(0);
    }
  .menu .navbar-dark .navbar-toggler
  {
    background: #000;
  }
  .menu .navbar-dark
  {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .menu {
   float: right;
   margin: 5px 0 0 0;
  }
  .menu .navbar-toggler {
  	width: 35px;
  	height: 35px;
  	border-radius: 3px;
  }
  .menu ul li {
  	margin: 0 0px 0 0;
	}
	.logo {
  	margin: 0 10px 0 0;
	}
	.logo img 
	{
    max-width: 120px;
	}
	.hd-left ul li {
  	margin: 0 4px 0 0;
	}
	.profile-dec {
  	display: none;
	}
	.header-right {
  	margin: 0 18px 0 0;
	}
	.avail ul li {
	  margin: 0 5px 7px 0;
	  font-size: 11px;
}
}